body{margin-top: 0px; margin-left: 0px; background-color: gray; float: left}

ul{list-style-type: none; padding-left: 0}

a:link, a:visited{color: rgb(0, 0, 255)}

article.lienimportant{text-align: center}

article.imgtexte img{max-width: 40vw; margin-left: 10px}

textarea{resize: none; width: 33vw; height: 20vh}


#banniere{position: fixed}

#banniere img{width: 100vw; height: 25vh}

#menugauche, #menudroite{margin-top: 26vh; width: 170px; background-color: rgb(50, 50, 50); 
position: fixed; padding-bottom: 10000000000px}

#menugauche h1, #menudroite h1{font-size: 20pt; font-variant: small-caps; font-family: Arial; color: red;
font-style: italic;}

#menugauche a:link, #menugauche a:visited, #menudroite a:link, #menudroite a:visited{font-family: Calibri;
color: rgb(255, 255, 255)}

#menugauche a:hover, #menudroite a:hover{color: rgb(225, 225, 225); font-weight: bold}

#menudroite{right: 0;}

#principal{margin-top: 26vh; background: url("fond.png") repeat; font-family: Calibri;
color: rgb(0, 0, 0); text-align: justify; margin-left: 180px; margin-right: 172px; margin-bottom: 10px;
padding-bottom: 5px; min-height: 71vh}


@media screen and (max-width: 1240px)
{
#menugauche{padding-bottom: 0px}
#menudroite{margin-top: 500px; left: 0}
#principal{margin-right: 0px; min-width: 100px;}
}

@media screen and (min-height: 1080px)
{
#menudroite{margin-top: 1000px}
}

@media screen and (max-width: 500px)
{
#menugauche{position: static; padding-bottom: 0px; width: 80vw}
#menudroite{position: static; left: 0; padding-bottom: 0px;
width: 80vw; margin-top: 0px}
#principal{margin-left: 0px; margin-right: 0px; width: 80vw}
}

@media screen and (max-height: 640px) and (min-width: 500px)
{
#menugauche{position: absolute; padding-bottom: 0px; z-index: -1}
#menudroite{position: absolute; padding-bottom: 0px; z-index: -1}
}