body{margin-top: 0px; margin-left: 0px; background-color: gray; float: left}
#bannière{position: fixed; }
img{max-width: 100vw}
#menugauche{margin-top: 270px; background-color: #efefef; position: fixed; padding-bottom: 10000000000px}
#principal{margin-top: 270px; background: url("fond.jpg") repeat; font-family: Calibri; color: rgb(0, 0, 0);
margin-left: 250px; margin-right: 245px; margin-bottom: 10px; padding-bottom: 400px;}
#menudroite{margin-top: 270px; background-color: #efefef; position: fixed; right: 0; padding-bottom: 10000000000px}
invisible{opacity: 0}
imgtexte > img{max-width: 100vw; margin-left: 10px}